{% extends 'base.html' %}
{% block title %} Game {% endblock %}

{% block content %}

<h2>Hi There!</h2>

<form action="/madlib">
  <div class="game"> Person: <input type="text" name="person"> </div>
  <div class="game">
  <select name="color" required> 
    <option value="blue">Blue</option>
    <option value="yellow">Yellow</option>
    <option value="black">Black</option>
    <option value="green">Green</option>
    <option value="orange">Orange</option>
  </select> </div>
  <div class="game">Noun: <input type="text" name="noun" required> </div>
  <div class="game">Adjective: <input type="text" name="adjective"></div>
  <p>Choose your animals:</p>
  <div id="animals">
    <input type="checkbox" name="animals" value="dog">Dog
    <input type="checkbox" name="animals" value="cat">Cat
    <input type="checkbox" name="animals" value="tiger">Tiger
    <input type="checkbox" name="animals" value="bear">Bear </div>

  <input type="submit">
</form>

{% endblock %}